.accordion-item{
  margin: 15px;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.accordion-item:hover{
  border-left: 3px solid rgb(66, 213, 243);
  transition-duration: 1s;
}


.accordion-title{
  display: flex;
  justify-content: space-between;
}



